<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="login" method="post" id="loginForm">
    <p>아이디</p>
    <input type="text" name="id">
    <p>비밀번호</p>
    <input type="password" name="pw"></input>
    <button type="submit" onclick="send()">로그인</button>
</form>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function send() {
        if(!loginForm.id.value){
            alert("아이디를 입력하세요");
            return;
        }
        if(!loginForm.pw.value){
            alert("비밀번호를 입력하세요");
            return;
        }

        loginForm.submit();
    }

</script>
</html>