<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>출퇴근</h1>
<form action="work" method="post">
    <input type="text" name="workerName">
    <button type="submit" name="workStatus" value="출근">출근</button>
    <button type="submit" name="workStatus" value="퇴근">퇴근</button>

</form>
</body>
</html>