<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 상세보기</title>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <style>
        body {transform: scale(0.8);}
    </style>
</head>
<body>
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">

            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시글 상세보기</p>
            </header>
            <!-- Table -->
            <h3><a id="goList" class="button small">목록 보기</a></h3>
            <div class="content">
                <div class="form">
                    <form method="post" action="/board/remove" th:object="${board}">
                        <div class="fields">
                            <div class="field">
                                <h4>번호</h4>
                                <input type="text" readonly th:field="*{boardBno}"/>
                            </div>
                            <div class="field">
                                <h4>제목</h4>
                                <input type="text" readonly th:field="*{boardTitle}"/>
                            </div>
                            <div class="field">
                                <h4>내용</h4>
                                <textarea rows="6" style="resize:none" readonly th:field="*{boardContent}"></textarea>
                            </div>
                            <div class="field">
                                <h4>작성자</h4>
                                <input type="text" readonly th:field="*{boardWriter}"/>
                            </div>
                        </div>
                        <ul class="actions special">
                            <li>
                                <input type="button" class="button" value="수정" onclick="goUpdate()"/>
                                <input type="submit" class="button" value="삭제"/>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/reply.js"></script>
<script src="/assets/js/user.js"></script>
<script th:inline="javascript">
    let boardBno = [[${board.boardBno}]];
    let paging = [[${criteria.listLink}]];
    console.log(paging);

    $(document).ready(function () {
        console.log(replyService);
    });

    $(document).ready(function () {
        console.log(userService);
    });

    function goUpdate(){
        location.href = '/board/modify' + paging + '&boardBno=' + boardBno;
    }

    $("a#goList").click(function(e){
        e.preventDefault();
        location.href = "/board/list" + paging;
    })

    // 댓글 추가
    // replyService.add({
    //     replyContent: "JS Module Test",
    //     replyWriter: "이민형",
    //     boardBno: boardBno
    // }, function (result) {
    //         alert(result);
    //     },
    //     function (a,b,c) {
    //         console.log(a,b,c);
    //     });

    // 댓글 하나 가져오기
    // replyService.get(
    //     102,
    //     function (result) {
    //         console.log(result);
    // }, function (a,b,c) {
    //         console.log(a,b,c);
    //     });

    // 댓글 삭제
    // replyService.remove(20,
    //     function (result) {
    //          console.log(result);
    // }, function (a,b,c) {
    //         console.log(a,b,c);
    //     });

    // 댓글 수정
    // replyService.modify({
    //         rno: 15,
    //         replyContent: "PATCH Ajax 통신 완료",
    //     },
    //     function (result) {
    //         console.log(result);
    // }, function (a,b,c) {
    //         console.log(a,b,c);
    // })

    // 댓글 전체 목록 가져오기
    // replyService.getList({bno: boardBno, page:2},
    //     function (result) {
    //         console.log(result);
    // }, function (a,b,c) {
    //         console.log(a,b,c);
    // });

    // 1번 테스트
    // replyService.test1(function (result) {
    //     console.log(result);
    // })

    // 2번 테스트
    // replyService.test2("안녕", function (result) {
    //         console.log(result);
    // })

    // 3번 테스트
    // replyService.test3(function (result) {
    //         console.log(result);
    // })

    // 4번 테스트
    // replyService.test4({name: "이민형", age: "24", number: "2"}, function (result) {
    //         console.log(result);
    // })

    // 5번 테스트
    // replyService.test5({name: "이민형", age: "24", number: "3"}, function (result) {
    //         console.log(result);
    // })

    // 회원가입
    // userService.add({
    //     userId:"test999",
    //     userPw:"1111",
    //     userName:"테스트유저999"
    // }, function (result) {
    //     console.log(result);
    // })

    // 유저 정보 조회
    // userService.read(1, function (result) {
    //     console.log(result);
    // })

    //유저 정보 수정
    userService.modify({
        uno: 22,
        userId: "test000",
        userPw: "2222"
    }, function (result) {
        console.log(result);
    })

    // 회원 탈퇴
    // userService.remove(25, function (result) {
    //     console.log(result);
    // })


</script>
</html>












