<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>노래방 점수 입력</title>
</head>
<body>
    <form action="/ex/singing" method="post" id="singForm">
        <div id="score_wrap">
            <input type="text" name="score">
            <button type="submit" onclick="send()">제출</button>
        </div>
    </form>
</body>
<script !src="">
    function send() {
        if(!singForm.score.value){
            alert("점수를 입력하세요");
            return;
        }
        singForm.submit();
    }
</script>
</html>